#about {
    background-color: $secondary;
    color: $secondaryText;
    padding: 50px 0;

    h2, a {
        color: $secondaryText;
    }

    img {
        width: 50%;
        margin-right: 25px;
    }
    .aboutContainer {
        display: flex;
        margin-top: 50px;
    }
    .aboutDetails {
        width: 50%;
        margin-left: 25px;
    }

    .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 50px;

            i {
                font-size: 1.5rem;
            }

            p {
                margin: 5px 0;
            }
        }
    }
}
