$primary: #1a7e5d;
$secondary: #4b596d;

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin: 50px 0;
}

#about, #partners, #contacts, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}