$primary: #a69d86;
$secondary: #4f5b6c;
$offWhite: #e1e2e2;


html {
    scroll-behavior: smooth;
    background-color: $offWhite;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin: 50px 0;
}

#about, #partners, #contacts, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialLink {
    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-right: 50px;

            i {
                font-size: 1.5rem;
            }

            p {
                margin: 5px 0;
            }
}

.hidden {
    display: none;
}

.show {
    right: 10px;
}