header {
    position: relative;
}

nav {
    padding: 15px;
    border-bottom: 1px solid $secondary;

    .mobile {
        display: none;
        color: $primary;
        font-size: 1.7rem;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
    }

    h2 {
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 2rem;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            margin: 0 10px;
            font-size: 0.8rem;
            padding: 5px;
            
            a {
                padding: 5px;
                color: $text;
            }
        }
        
        a:hover {
            color: $primary;
            border-bottom: 1px solid $primary;
            border-top: 1px solid $primary;
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    background-image: url(../../assest/hero.jpg);
    background-size: cover;
    background-position: bottom;
}