@media(max-width: 1275px) {
    #about {
        .aboutContainer {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }  
        img {
            margin-right: 0;
            width: 500px;
        }
        .aboutDetails {
            margin-left: 0;
            width: 90%;
            margin-bottom: 25px;
        }
        .socials {
            justify-content: center;

            li a {
                margin: 0 20px;

            }
        }
    }
}

@media(max-width: 745px) {
    nav h2 {
        display: none;
    }
}

@media(max-width: 570px) {
    .hero {
        height: 100vh;
    }
    nav {
        border: none;
        height: 0;
        padding: 0;

        .mobile {
            display: inline-block;
        }

        h2 {
            display: inline-block;
            font-size: 6rem;
            top: 20px;
            left: calc(50% - (6rem / 2));
        }
        
        ul {
            position: absolute;
            top: 70px;
            right: -165px;
            flex-direction: column;
            align-items: flex-end;
            transition: 0.5s;

        }
    }
    h1, h2 {
        font-size: 2.2rem;
    }

    #about {
        padding-bottom: 0;
        h2 {
            font-size: 1.5rem;
            text-align: center;
        }
        p {
            font-size: 0.8rem;
            text-align: center;
        }
        .aboutContainer {
            margin-top: 25px;
        }
        .aboutDetails {
            width: 100%;
        }
    }
    .sectionDivider {
        display: none;
    }
    #contacts a {
        margin: 0 15px;

        
    }

    footer {
        font-size: 0.6rem;
    }
}