#partners {
    position: relative;
    padding: 50px 0;

    .custom-shape-divider-top-1654290739 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654290739 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
}

.custom-shape-divider-top-1654290739 .shape-fill {
    fill: $secondary;
}
}