@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

$text: #282716;
$secondaryText: #e1e2e2;

html {
    font-size: 125%;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: $primary;
    margin: 0;
}